<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration>
<configuration>
	<include resource="net/luversof/core/logging/logback/base.xml" />
	
	<logger name="java.sql" level="debug" />
	<!-- <logger name="org.hibernate" level="debug" /> -->
	<!-- <logger name="org.springframework.integration" level="debug" /> -->
	<!-- <logger name="org.springframework.amqp" level="debug" /> -->
	<!-- <logger name="com.rabbitmq" level="debug" /> -->
	<logger name="org.hibernate.type.descriptor.sql.BasicBinder" level="trace" />
</configuration>